{% extends "main.html" %}
{% block content %}
    <div class="container-fluid content">
        <form action="{% url 'buildcode'%}" method="POST">
            {% csrf_token%}
        <div class="row">
            <div class="input_code col-md-8 col-sm-7 col-xs-12">
                <span style="font-size: larger; color: violet;">de baif aaaaaaaaaaaaaaaaaaaaaa</span>
                <h6>Input Code:</h6>
                <ul class="row">
                    <li class="col-md-10 col-sm-9 col-xs-12">
                            <textarea class="out" placeholder="input code" cols="100" rows="10" name="inputcode" >{{inputcode}}</textarea>
                    </li>
                    <li class="col-md-2 col-sm-3 col-xs-12 btn-code">
                            <select name="language" id="cars" class="list">
                                <option value="python">Python</option>
                                <option value="java">Java</option>
                                <option value="c#">C#</option>

                            </select>
                            <button class="btn btn-outline-success compile " type="submit"><i class="fas fa-play"></i></button>
                        <!-- </div> -->
                    </li>

                </ul>
            </div>

            <div class="output_code col-md-4 col-sm-5 col-xs-12">
                <i class="fas fa-check-circle" style="color: red" name="incorrect"></i><span style="font-size: larger; color: red"> Failure</span>
                <i class="fas fa-check-circle" style="color: greenyellow;" name="correct"></i><span style="font-size: larger; color: greenyellow;"> Excellent</span>
                <h6>Output Code:</h6>
                    <textarea class="out" placeholder="output code" cols="100" rows="10" name="outputcode">{{outputcode}}</textarea>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12" style="font-size: larger;">
                <ul class="row">
                    <li class="col-md-8 col-sm-7 col-xs-12">
                        <a href="{% url 'back'%}?ex={{ex}}" style="color: yellow;"><i class="fas fa-hand-point-left" style="color: coral;"></i>   Back </a>
                    </li>
                    <li class="col-md-4 col-sm-5 col-xs-12" style="text-align: right;">
                        <a href="" style="color: yellow;">Continue   <i class="fas fa-hand-point-right" style="color: chartreuse;"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </form>
    </div>
{% endblock %}