{% extends "main.html" %}
{% block content %}
    <div class="container" style="margin-top: 50px !important;">
        <div class="row">
            <ul class="col-md-12 col-sm-12 col-xs-12">
                <li>
                    Python is available on a wide variety of platforms including Linux and Mac OS X. Let's understand how to set up our Python environment.
                </li>
                <li>
                    <br>
                    <h4>Local Environment Setup</h4>
                </li>
                <li>
                    Open a terminal window and type "python" to find out if it is already installed and which version is installed.
                </li>
                <li>
                    <img src="" alt="">
                </li>
                <li>
                    <br>
                    <h4>Getting Python</h4>
                </li>
                <li>
                    <span>The most up-to-date and current source code, binaries, documentation, news, etc., is available on the official website of Python https://www.python.org/</span>
                    <br>
                    <span>You can download Python documentation from https://www.python.org/doc/. The documentation is available in HTML, PDF, and PostScript formats.</span>
                </li>
                <li>
                    <br>
                    <h4>Installing Python </h4>
                </li>
                <li>
                    <span>
                        Python distribution is available for a wide variety of platforms. You need to download only the binary code applicable for your platform and install Python.
                    </span>
                    <br>
                    <span>
                        If the binary code for your platform is not available, you need a C compiler to compile the source code manually. Compiling the source code offers more flexibility in terms of choice of features that you require in your installation.

Here is a quick overview of installing Python on various platforms −
                    </span>
                </li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
{% endblock %}